<% layout("/layouts/boilerplate") -%>

<div class="container p-3">
  <div class="row">
    <div class="col-md-12">
      <span class="announcement">
        <h4>Announcement</h4>
        <span>
          <a href="/announcement/login" class="btn  btn-outline-success">Login to edit</a>
        </span>
      </span>
      <p> 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore autem
        obcaecati commodi illo enim veniam saepe optio, ut incidunt repudiandae
        blanditiis non omnis praesentium? Aut in beatae ab quos doloribus! Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Amet, nulla
        molestiae sunt aut corrupti id a sapiente temporibus, quas porro nisi
        dolore illo ipsam libero voluptas, cupiditate repellat impedit odit?
        Omnis aliquid ipsum voluptates ab reiciendis, exercitationem est quis
        iste incidunt doloremque distinctio sint explicabo voluptate ratione
        iure tempora consequatur corporis amet ad! Et maxime, soluta labore
        consequatur quisquam magnam. Reiciendis illo porro quibusdam nihil unde?
        Voluptatibus dolorem fuga eveniet ipsam repellat reprehenderit quibusdam
        iure delectus suscipit mollitia voluptatem repudiandae doloremque sint
        nam, maxime totam, deserunt cumque vel nisi a. Ea vero deserunt minus
        accusantium aperiam magnam quisquam corporis quaerat itaque quod porro
        quasi, fuga, eligendi veniam repellat nostrum a pariatur quis molestias
        quam dolor. Debitis necessitatibus obcaecati veniam facere. Impedit sunt
        esse labore non animi voluptas cum, ad eveniet eligendi dolores neque
        tempora deleniti. Modi minus, architecto laudantium accusamus reiciendis
        nesciunt eum distinctio iste odit consectetur nihil placeat? Amet.
        Suscipit deserunt error adipisci, debitis, labore iusto voluptas
        expedita optio mollitia eos id fugiat qui porro voluptatem perspiciatis?
        Officia nulla laudantium modi. Tempore, non. Necessitatibus dolorum
        autem voluptas velit facere? Aut blanditiis facilis ratione iusto eum
        fugiat dolorum hic eius totam deleniti sit vero voluptates minima
        dolorem debitis obcaecati dolores voluptas beatae labore, nesciunt, quos
        ex quam. Temporibus, voluptatum numquam. Doloremque, nulla! Nesciunt
        cumque voluptatibus esse vitae repudiandae expedita dolore cum aperiam
        molestias quam. Id libero earum, amet at quasi cumque consequatur. Non
        facere soluta itaque doloremque ipsum libero possimus. Similique iure
        placeat recusandae, iste nesciunt pariatur. Odio minima, voluptatem quae
        quis, placeat, incidunt possimus commodi doloremque fugiat eum ipsam
        asperiores! Laborum eius eligendi, iure perferendis aspernatur esse rem
        doloremque? Mollitia animi voluptates dolor optio earum iste autem
        dolorum ut cumque eum nobis odio rerum doloribus atque, natus ratione
        corrupti accusamus nam, sunt quaerat voluptatibus. Ducimus tempore et
        consequuntur quae. Quisquam, quos. Quisquam, quos. Quisquam, quos.
      </p>
    </div>
  </div>
</div>
