<% layout("/layouts/boilerplate") -%>
  
<div class="card p-5 m-5">
  <center>Please Login to access this page</center>
  <a href="/announcement/login" class="btn btn-outline-success">Login</a>
  <a href="/announcement/signup" class="btn btn-outline-danger">signUp</a>
  <br>
</div>