<% layout("/layouts/boilerplate") -%>

<div class="card m-5 p-5">
  <a href="/announcement/login" class="btn btn-outline-primary" style="width: 7%;"><i class="bi bi-arrow-left"></i> Back</a>
  <br>
  <center>Please Login to access this page</center>

  <form>
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control m-3"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <input type="text"
      type="email"
        class="form-control m-3"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control m-3" id="exampleInputPassword1" />
    </div>
    <button type="submit" class="btn btn-outline-danger">Sign Up</button>
    
  </form>
</div>
