<footer class="p-3">
  <div>
    <img
      src="/resource/ieee mb white png.png"
      alt="IEEE"
      width="30%"
      style="display: block; padding: 0; margin-bottom: 1.4rem"
    />
    IEEE is the world's largest technical professional organization dedicated to
    advancing technology for the benefit of humanity.

    <ul>
      <li>Learn more about IEEE</li>
      <li>IEEE Mission and Vision</li>
      <li>About IEEE VIT Bhopal chapter</li>
    </ul>
  </div>
  <div>
    Quick Links

    <ul>
      <li>Announcements</li>
      <li>IEEE Region 10</li>
      <li>Careers at IEEE</li>
      <li>IEEE Media Kits</li>
      <li>IEEE Learning Network</li>
    </ul>
  </div>
  <div>
    Membership

    <ul>
      <li>Join</li>
      <li>Renew</li>
      <li>Benifits</li>
      <li>Events</li>
      <li>Guide to Join</li>
    </ul>
  </div>
  <div>
    Contact us
    <br />
    Room no. X, Academic Block, 
    <br>VIT Bhopal University, Kothri Kalan, 
    <br>Sehore, Madhya Pradesh 466114
    <br /><br>
    <a href="mailto:xyz@gmail.com" style="color: white; text-decoration: none"
      ><i class="bi bi-envelope-at"></i> xyz@gmail.com</a
    >
    <br>
    <a href="tel:+91-1234567890" style="color: white; text-decoration: none"
      ><i class="bi bi-telephone"></i> +91-1234567890</a
    >
  </div>
</footer>
