<nav id="navbar-example2" class="navbar sticky-top bg-primary-subtle px-3 ">
    <a class="navbar-brand" href="#">
      <img src="/resource/ieee mb blue.png" alt="IEEE" width="35%">
      <span style="
      color: #085c9c;
      font-size: 1rem;
      font-weight: 700;
      width: fit-content;
      ">VIT Bhopal Chapter</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">First</a>
      </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3">Second</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading4">Third</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading5">Fourth</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-dark drk-md">Dark Mode <i class="bi bi-moon-stars-fill"></i></button>
        </li>
      </li>
    </ul>
  </nav>