::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.contacts {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
}

.socials {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
}

.socials>a {
  text-decoration: none!important;
  color: white!important;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.nav-item {
  margin-right: 1rem !important;
}

.land-page {
  height: 100vh;
  margin-bottom: 2rem!important;
}

.carousel-item {
  height: 90vh;
}

.carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background-color: rgba(8, 92, 156, 0.5);
  color: white !important;
}

footer {
  display: flex;
  justify-content: space-evenly;

  background-color: #083c77;
  color: white;
  padding: 2rem;
}